
.spacer {
    height: 100%;
    flex: 1;
}

.adder {
    margin: 0.75rem 3.8rem 0.75rem 0;
    padding: 1.5rem 0;
    background-color: hsl(16, 100%, 95%);
    border-radius: 1rem;

}

.adder>ol, ul {
    margin-left: 3rem;

}

.adderContainer {
    display: flex;
}
.adderContainer>input {
    padding: 0.5rem;
    font-size: 1.125rem;
    flex-grow: 1
}

.adderContainer>button {
    margin-left: 1rem;
    padding: 0.625rem 1rem;
}

.addedEntry {
    display: flex;
    align-items: center;
}

.addedEntry > li {
    flex-grow: 1;
}

.addedEntry > span {
    display: flex;
    width: 1.5rem;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bolder;
    margin-right: 1rem;
    user-select: none;
    cursor: pointer;
}

.addedEntry > span:hover {
    color: red;
    background-color: hsl(16, 100%, 97%);
    box-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.2);
    border-radius: .5rem;
}