.container {
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    overflow: auto;
}

.recipePanel {
    margin-top: 4rem;
    min-height: 750px;
    width: 33vw;
}

.sidebarContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 25vw;
    background: white;

}

.postInfo {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    padding: 3rem 2rem 1rem;
    border-bottom: 1px solid #aaaaaa;
}

.descriptionSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem;
}

.authorInfo {
    display: flex;
    height: fit-content;
    margin-bottom: 1rem;
}

.profilePic {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.author {
    flex-grow: 1;
}

.authorUsername {
    font-weight: bolder;
}

.authorProfile {
    display: flex;
    font-size: 0.85rem;
    gap: 0.3rem;
}

.hashtags {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.hashtags>span:before {
    content: "#";
}

.hashtags>span.important {
    font-weight: bolder;
}

.embeds {
    display: flex;
    margin-bottom: 0.5rem;
}

.embeds button {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    overflow: hidden;
}

.stats {
    flex-grow: 1;
}

.copyLink {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    border: 1px solid #aaa;
    border-radius: .5rem;
}

.copyLink>span {
    flex-grow: 1;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaaaaa;
}

.copyLink>button {
    border: none;
    background-color: transparent;
    height: fit-content;
    white-space: nowrap;
    padding: 0.5rem 2rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-weight: bolder;
    cursor: pointer;
}

.copyLink>button:hover {
    background-color: #f3f3f3;
}

.commentsSection {
    flex-grow: 1;
    border-bottom: 1px solid #aaaaaa;
    overflow: auto;
    background-color: hsl(0, 0%, 90%);
}

.addComment {
    display: flex;
    padding: 1.25rem 2rem;
}
.addComment>input {
    flex-grow: 1;
    padding: 1rem;
    border: none;
    border-right: 1px solid #aaaaaa;
    border-top-left-radius: .75rem;
    border-bottom-left-radius: .75rem;
    background-color: #dadada;
    font-size: 1.125rem;

}

.addComment>input:focus {
    background-color: #f3f3f3;
    outline: none;
}

.addComment>button {
    font-weight: bolder;
    padding-inline: 1rem;
    border: none;
    background-color: #dadada;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    cursor: pointer;
}

.addComment>button:hover {
    background-color: #f3f3f3;
}