.container {
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--navbar-height));
}

.recipeContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    align-items: center;
    overflow: auto;
}

.recipePanel {
    margin-top: 4rem;
    min-height: 750px;
    width: 33vw;
}

.sidebarContainer {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    background: white;

}





























.commentsSection {
    flex-grow: 1;
    border-bottom: 1px solid #aaaaaa;
    overflow: auto;
    background-color: hsl(0, 0%, 90%);
}

.addComment {
    display: flex;
    padding: 1.25rem 2rem;
}
.addComment>input {
    flex-grow: 1;
    padding: 1rem;
    border: none;
    border-right: 1px solid #aaaaaa;
    border-top-left-radius: .75rem;
    border-bottom-left-radius: .75rem;
    background-color: #dadada;
    font-size: 1.125rem;

}

.addComment>input:focus {
    background-color: #f3f3f3;
    outline: none;
}

.addComment>button {
    font-weight: bolder;
    padding-inline: 1rem;
    border: none;
    background-color: #dadada;
    border-top-right-radius: .75rem;
    border-bottom-right-radius: .75rem;
    cursor: pointer;
}

.addComment>button:hover {
    background-color: #f3f3f3;
}