.container {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    padding: 3rem 2rem 1rem;
    border-bottom: 1px solid #aaaaaa;
}

.authorInfo {
    display: flex;
    height: fit-content;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.profilePic {
    margin-right: 1rem;
    width: 3rem;
    height: 3rem;
}

.author {
    flex-grow: 1;
}

.authorUsername {
    font-weight: bolder;
}

.authorUsername::before {
    content: '@';
}

.authorProfile {
    display: flex;
    font-size: 0.85rem;
    gap: 0.3rem;
}

.authorName {}

.descriptionSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: .5rem;
}

.description {}

.hashtagContainer {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    margin-bottom: 1rem;
}

.hashtagContainer>span:before {
    content: "#";
}

.hashtagContainer>span.important {
    font-weight: bolder;
}

.hashtagContainer>span.noTags {
    font-size: 0.85rem;
    font-style: oblique;
}

.hashtagContainer>span.noTags::before {
    content: '';
}

.shareSection {}

.embeds {
    display: flex;
    margin-bottom: 0.5rem;
}

.embeds button {
    width: 2rem;
    height: 2rem;
    padding: .25rem;
    overflow: hidden;
}

.stats {
    flex-grow: 1;
}

.sharing {}

.copyLink {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 90%);
    border: 1px solid #aaa;
    border-radius: .5rem;
}

.copyLink>span {
    flex-grow: 1;
    margin-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaaaaa;
}

.copyLink>button {
    border: none;
    background-color: transparent;
    height: fit-content;
    white-space: nowrap;
    padding: 0.5rem 2rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    font-weight: bolder;
    cursor: pointer;
}

.copyLink>button:hover {
    background-color: #f3f3f3;
}