*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    /*Testing container sizes*/
    /*outline: 1px dotted red;*/
}

:root {
    --text-color: black;
    --text-highlight: #ffb451;
    --navbar-height: 3rem;
}